@{
    ViewBag.Title = "Laitteet";
}

<div class="row">
    <div class="col-md-6"><h2>Ryhmän laitteet</h2></div>
</div>

<div class="row">
    <div class="col-xs-6">
        <table id="deviceListTable" class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th data-sort="string">Nimi</th>
                    <th data-sort="string">Kuvaus</th>                                  
                </tr>
                    <tr id="deviceListItemTemplate" class="clickme hidden" data-href="#" onmouseover="" style="cursor: pointer;">
                        <td class="name"></td>
                        <td class="description"></td>
                    </tr>
            </thead>
            <tbody id="deviceList">

            </tbody>
        </table>
    </div>
</div>

@section Footer {
    @Scripts.Render("~/Scripts/App/Models.js")

    @Scripts.Render("~/Scripts/App/DeviceList.js")
    @Scripts.Render("~/Scripts/App/DeviceFunctions.js")

<script type="text/javascript">
    window.DeviceList.Init(@ViewBag.groupid);
</script>
}