@{
    ViewBag.Title = "Laitelista";
}

<div class="row">
    <div class="col-md-6"><h2>Savonian laiteryhmät</h2></div>
</div>

<div class="row">
    <div class="col-xs-12 col-s-6 col-md-6">
        <table id="deviceGroupListTable" class="table table-condensed table-striped">
            <thead>
                
                <tr id="deviceGroupListItemTemplate" class="hidden">
                    <td>
                        <a class="btn btn-xs btn-default col-xs-12 text-center DeviceListBtn" href="#" style="height: 35px; padding-top: 3px; font-size: 20px; background-color: #f5f5f5";></a>
                    </td>
                </tr>
            </thead>
            <tbody id="deviceGroupList"></tbody>
        </table>
    </div>
</div>

@section Footer {
    @Scripts.Render("~/Scripts/App/Models.js")

    @Scripts.Render("~/Scripts/App/DeviceGroupList.js")
    @Scripts.Render("~/Scripts/App/DeviceFunctions.js")

<script type="text/javascript">
    window.DeviceGroupList.Init();
</script>
}