@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DeviceBooker</h1>
    <p class="lead">Tervetuloa käyttämään Savonia AMK:n laitevarausjärjestelmää.</p>
    <p>Muista perua varauksesi, jos et sitä hyödynnä</p>
</div>
