
@{
    ViewBag.Title = "Laitelista";
}
<div class="row">
    <div class="col-md-6">
        <h2>tähän laiteryhmän nimi</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <table id="deviceGroupListTable" class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th data-sort="string">
                        Nimi <span class="pull-right"> <a class="hidden uusiLaite" href="~/uusiLaite/...">Uusi laiteryhmä</a><i style="color: #ddd;" class="glyphicon glyphicon-sort sortArrow"></i></span>
                    </th>
                </tr>
                <tr id="deviceListItemTemplate" class="hidden">
                    <td>
                        <a class="btn btn-xs btn-default nappi col-xs-12 thumbnail" href="#"><h3 class="name "></h3></a>
                    </td>
                </tr>
            </thead>
            <tbody id="deviceList"></tbody>
        </table>
    </div>
</div>
@section Footer {
    @Scripts.Render("~/Scripts/App/Models.js")
    @Scripts.Render("~/Scripts/App/DeviceList.js")
    @Scripts.Render("~/Scripts/App/DeviceFunctions.js")
    <script type="text/javascript">
    window.DeviceGroupList.Init();
    </script>
}